/*Theme*/
h1,
h2,
h3,
h4,
h5 {
    color: #CBE8EC;
    padding: 0.3em 0;
    font-family: 'Tenor Sans', sans-serif;
}


body {
    padding-bottom: 20px;
    background: url(../img/bg_gray.jpeg);
}

header nav {
    float: right;
}

.block-unit {
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
}

.header-wrapper {
    padding: 20px;
    margin: 0;
    background: url(../img/bg_black.jpg);
}
/*Alignment*/
.options .control-label {
    text-align: left;
}
.sprites-tab .nav-tabs {
    margin-bottom: 0;
}
.sprites-tab .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px 0;
    margin-bottom: 30px;
}
.sprites-tab .tab-content > div {
    margin: 0 15px;
}
.droparea {
    border: 5px dashed green;
    border-radius: 5px;
    background: url(../img/bg_green.jpg);

    box-shadow: 0 0 0 5px rgb(105, 162, 105);
   cursor: pointer;
    margin: 0 5px;
}
.droparea.dropping {
    box-shadow: 0 0 0 5px #3AD5D5;
}
.droparea h1 {
    margin: 0px 15px;
    text-align: center;
    text-shadow: 0 0 4px white;
}
.droparea h1,
.droparea h1 small {
    color: #000;

}
.browse-files {
    margin: 10px 15px 0;
    text-align: center;
}
.browse-files .input-file {
    margin-left: 10px;
}
.browse-files .control-label {
    float:none;
    display: inline;
}
.browse-files .control-group {
    margin-bottom: 0;
}

.image-collection {
    overflow: auto;
    max-height: 120px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 5px #69A269;
    margin: 0 5px;
}
.image-collection > div {
    overflow: auto;
    background: white;
}
.image-collection figure {
    width: 100px;
    margin: 20px 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.image-collection figcaption {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}
.image-collection img{
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
    border: 2px solid #ddd;
    background: white;
}
.editable-code {
    display: inline-block;
    width: 100px;
    color: #4A4C85;
    border: 1px solid #3C586B;
}
.sprite-result img{

}
.add-on {
    color: black;
}
.droparea-wrapper {
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
}
.css-result {
    padding: 0 20px;
}
.css-code-options{
    padding-top: 20px;
}
.css-options {
    margin: 0 20px;
}
.sprite-wrapper {
    min-height: 560px;
    padding: 5px;
    background: url(../img/chessboard.png);
    overflow: auto;
}
.sprite-wrapper img {
    max-width: initial;
}

.download-link {
    text-align: center;
    padding: 20px;
}
@media (max-width: 767px) {
    header.page-header {
        margin: 0 -20px;
    }
}